* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f3f4f6;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 230px;
  background: #8fcac5;
  padding: 35px 18px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 13px 16px;
  margin-bottom: 18px;
  border-radius: 8px;
  white-space: nowrap;
}

.sidebar li.active {
  background: #b6ddd9;
  color: #111827;
}

.main {
  flex: 1;
  padding: 25px 30px;
}

.header {
  height: 78px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header h1 {
  color: #0f766e;
  font-size: 28px;
  font-weight: bold;
}

.header h2 {
  position: absolute;
  right: 35px;
  font-size: 20px;
  color: #111827;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin: 35px 0;
}

.card {
  width: 170px;
  height: 85px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 10px #00000020;
  font-weight: bold;
}

.card h3 {
  font-size: 15px;
}

.card p {
  margin-top: 8px;
  font-size: 18px;
}

.blue { background: #eaf4ff; }
.green { background: #dcfce7; }
.yellow { background: #fef3c7; }
.pink { background: #fce7f3; }

.dashboard {
  display: flex;
  justify-content: center;
}

.table-box {
  background: white;
  width: 650px;
  padding: 22px;
  border-radius: 12px;
  border: 1px solid #111827;
}

.table-box h2 {
  text-align: center;
  color: #111827;
  font-size: 22px;
  margin-bottom: 18px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
}

th {
  background: #eaf4ff;
  padding: 10px;
}

td {
  padding: 9px;
  border-bottom: 1px solid #e5e7eb;
  font-weight: bold;
}

footer {
    margin-top: 30px;
    text-align: right;
    padding-right: 60px;
    color: #94a3b8;
    font-size: 12px;
}
.sidebar ul li a,
.sidebar ul li a:visited,
.sidebar ul li a:hover,
.sidebar ul li a:active {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li.active a,
.sidebar ul li.active a:visited,
.sidebar ul li.active a:hover,
.sidebar ul li.active a:active {
    color: black;
    text-decoration: none;
}
.sidebar li a {
    color: white !important;
    text-decoration: none !important;
    display: block;
}

.sidebar li.active a {
    color: black !important;
    text-decoration: none !important;
}
.sidebar a{
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar li.active a{
    color: black;
}